<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Flask-WTF</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>App Flask-WTF</h1>
    <p>Escolha uma das opções abaixo para ver os formulários em ação:</p>
    <ul>
        <li> <a href="{{ url_for('formulario') }}" >Formulário em branco</a></li>
        <li> <a href="{{ url_for('formulario') }}" >Formulário preenchido (com argumentos)</a></li>
        <li> <a href="{{ url_for('formulario') }}" >Formulário preenchido (com objeto)</a></li>
    </ul>
    
</body>
</html>